/*
Theme Name: Twenty Thirteen child
Version: 1.0
Description: A child theme of Twenty Thirteen
Template: twentythirteen
*/

@import url("../twentythirteen/style.css");

.entry-header, .entry-content, .entry-summary, .entry-meta {
margin: 0 auto;
max-width: 960px;
width: 100%;
}